Panal
<div fxLayout="column">
    <div fxLayout="row">
        <div fxFlex="10" class="branding">
            <h3>B</h3>
        </div>
        <div fxFlex=70>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptatum fuga ea repudiandae debitis quod tempora est iste impedit eos velit cumque optio dolor voluptas eligendi quis, quo dolorem nemo.
        </div>
    </div>
    <div fxLayout="row">
        
    </div>
    <div fxLayout="row">
        
    </div>
    
</div>