<div style="width: 500px; height: 300px; overflow: auto; border: 1px solid">
  <table class="freeze-table" width="700px">
    <thead>
      <tr>
        <th class="col-id-no fixed-header">header1</th>
        <th>header2</th>
        <th>header3</th>
        <th>header1</th>
        <th>header2</th>
        <th>header3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-id-no fixed-header">text1.1</td>
        <td>text1.2</td>
        <td>text1.3</td>
        <td>text1.1</td>
        <td>text1.2</td>
        <td>text1.3</td>
      </tr>
      <tr>
        <td class="col-id-no fixed-header">text2.1</td>
        <td>text2.2</td>
        <td>text2.3</td>
        <td>text1.1</td>
        <td>text1.2</td>
        <td>text1.3</td>
      </tr>
      <tr>
        <td class="col-id-no fixed-header">text3.1</td>
        <td>text3.2</td>
        <td>text3.3</td>
        <td>text1.1</td>
        <td>text1.2</td>
        <td>text1.3</td>
      </tr>
    </tbody>
  </table>
</div>
