<mat-tab-group mat-align-tabs="center" backgroundColor="primary">
  <mat-tab>
    <ng-template mat-tab-label>
      <a class="routes" (click)="firstTap1()">HIOHI</a>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <a class="routes" (click)="firstTap()">CHILD LIST </a>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<button (click)="firstTap()">xyz</button>
<router-outlet></router-outlet>

<!-- <mat-tab-group class="form-wizard">
  <mat-tab>
    <ng-template mat-tab-label>
      <a class="routes" (click)="firstTap()">HIOHI</a>
    </ng-template>
  </mat-tab>
</mat-tab-group> -->
