<div style="margin: 5px">
  <h3><button (click)="oneMonthAgoDate()">One Month</button></h3>
  <span *ngIf="checkMonth === 1">Tik</span>
</div>
<div style="margin: 5px">
  <h3><button (click)="threeMonthAgoDate()">Three Month</button></h3>
  <span *ngIf="checkMonth === 3">Tik</span>
</div>
<div style="margin: 5px">
  <h3><button (click)="sixMonthAgoDate()">Six Month</button></h3>
  <span *ngIf="checkMonth === 6">Tik</span>
</div>
<div style="margin: 5px">
  <h3><button (click)="customBtn()">Custom</button></h3>
  <span
    *ngIf="
      checkMonth == 0 || checkMonth == 2 || checkMonth == 4 || checkMonth == 5
    "
    >Tik</span
  >
</div>

<!-- Date Input  -->
<div *ngIf="fixMonths">
  From:
  <input
    type="date"
    (change)="checkCustom()"
    [(ngModel)]="fromDate"
    min="{{ sixMonthOldDate }}"
    max="{{ currentDate }}"
    value=""
    readonly
  />
  To:
  <input
    type="date"
    (change)="checkCustom()"
    [(ngModel)]="toDate"
    min="{{ sixMonthOldDate }}"
    max="{{ currentDate }}"
    value=""
    readonly
  />
</div>

<div *ngIf="customMonths">
  From:
  <input
    type="date"
    (change)="checkCustom()"
    [(ngModel)]="fromDate"
    min="{{ customSixMonthOld }}"
    max="{{ toDate }}"
    value=""
  />
  To:
  <input
    type="date"
    (change)="checkCustom()"
    [(ngModel)]="toDate"
    min="{{ customSixMonthOld }}"
    max="{{ currentDate }}"
    value=""
  />
</div>
